/* HOMEPAGE  */

body {
    line-height: 1;
    font-family: 'Roboto';
    background: #efefef;
}

/* DROPDOWN MENU  */
.dropdown-menu-wrap{
  transition: all .3s;
  overflow: hidden;
  height: 0;

}
.dropdown-menu {
    background: #383838;
    padding: 20px 6%;

}
.dropdown-menu-wrap.is-shown{
  height: 58px;
}

.dropdown-menu ul {
  justify-content: space-between;
}

.dropdown-menu li {
    margin-left: 0px;
}

.dropdown-menu li a {
    color: #ababab;
}

.dropdown-menu li a:hover {
    transition: ease 0.3s;
    color: #fff;
}

/* NAV */

header {
    display: flex;
    padding: 30px 6%;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 5%;
    /*box-shadow: 0px 1px 3px rgba(64, 64, 64, 0.27);*/
}

.logo {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1.6rem;
    color: #383838;
    display: flex;
    align-items: center;
}

.logo:hover {
    transition: ease 0.3s;
    background: -webkit-linear-gradient(left, #02AAB0 , #00CDAC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h1 {
    background: url('../images/TP-logo.svg') no-repeat left 0px;
    padding: 6px 0px 5px 54px;
    background-size: 36px;
    transition: ease 0.3s;
}

.logo:hover h1 {
    background: url('../images/TP-logo-colour.svg') no-repeat 0px;
    padding: 6px 0px 5px 54px;
    background-size: 36px;
}

/*.logo img {
    height: 2rem;
    padding-right: 10px;
}*/

a {
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
}

li {
    margin-left: 42px;
}

nav li a {
    color: #adadad;
}

li a {
    color: #383838;
}

li a:hover {
    transition: ease 0.3s;
    color: #383838;
}

a .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

.mobile-nav {
    display: none;
}

/* INTRODUCTION TEXT */

.introduction {
  padding: 0px 6%;
  margin-bottom: -5px;
}

.typed-text {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    background: -webkit-linear-gradient(left, #02AAB0 , #00CDAC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: visible;
    padding-bottom: 5px;
}

.introduction h3 {
    display: inline-block;
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 44px;
    color: #636363;
    padding-bottom: 5px
}

.introduction strong {
    font-weight: 400;
}

/* BLINKING CURSOR */

.typed-cursor {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 24px;
    background: -webkit-linear-gradient(left, #02AAB0 , #00CDAC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    padding-bottom: 5px;
}

@keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink {
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/* HOMEPAGE GRID CONTENT */

.examples {
    display: flex;
    padding: 0 6%;
    margin-top: 1%;
}

.examples-overflow {
    display: block;
    overflow: hidden;
    margin: 1% 0;
    padding: 0 6%;
    justify-content: space-between;
    height: 0px;
    transition: 0.3s;
}

.show-content {
    display: none;
    padding: 0 6%;
    margin-top: 1%;
    justify-content: space-between;
}

/*#show {
    display: flex;
    justify-content: space-between;
}*/

.project-box {
    width: 32.5%;
    position: relative;
}

.project-box:hover {
    box-shadow: 0 0 20px 0 #bbb;
}

.project-name {
    opacity: 0;
    position: absolute;
    width: 100%;
}

.project-box:hover .project-name {
    opacity: 1;
    padding: 10%;
    z-index: 1;
    width: initial;
}

.project-name h3 {
    color: #fff;
    font-size: 1.2rem;
    padding-bottom: 5px;
}

.project-name p {
    color: rgba(255,255,255,0.75);
}

.examples {
    display: flex;
    padding: 0 6%;
    justify-content: space-between;
}

.hover-background {
    opacity: 0;
    background: #02AAB0;
    background: -webkit-linear-gradient(to left, #02AAB0 , #00CDAC);
    background: linear-gradient(to left, rgba(2, 170, 176, 0.9) , rgba(0,205,172,.9));
    width: 100%;
    height: 100%;
    position: absolute;
    transition: ease 0.3s;
}

.project-box:hover .hover-background {
    opacity: 1;
}

.project-image img {
    width: 100%;
}


/* VIEW MORE */

.view-more {
    padding: 32px 6% 0px 6%;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
}

.view-more a {
    color: #8a8a8a;
    transition: ease;
    cursor: pointer;
}

.view-more a:hover {
    border-bottom: 2px solid #383838;
    padding-bottom: 3px;
    color: #383838;
    margin-bottom: -5px;
}

/* FOOTER */

footer {
    margin-top: 40px;
    padding: 20px 0;
    border-top: 1px solid #dedede;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-left: 6%;
    margin-right: 6%;
}

a.email {
    font-weight: 300;
    font-family: 'Roboto';
    color: #909090;
}

a.email:hover {
    transition: ease;
    color: #383838;
}

.footer-logo {
    font-weight: 500;
    color: #909090;
}

.footer-social-links a {
    color: #909090;
    font-size: 1.2rem;
    margin-left: 20px;
}

.footer-social-links a:hover {
  transition: ease;
  color: #383838;
}

span.light {
    font-weight: 100;
}

/* CONTACT PAGE CSS */

.contact {
    padding: 0px 6%;
    display: flex;
    justify-content: space-between;
}

.details {
    width: 74%;
}

.details h3 {
    font-weight: 400;
    color: #383838;
    font-size: 1.8rem;
    margin-bottom: 16px;
}

.details p {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.contact-links {
    width: 20%;
}

.contact-links ul {
    display: block;
    margin-top: 40px;
    border-left: 1px solid #cccccc;
    padding-left: 50px;
}

.contact-links li {
    margin-left: 0px;
    margin-bottom: 10px;
}

.contact-links li a {
    color: #adadad;
}

.contact-links a:hover {
    color: #383838;
}

/* PROJECT LANDING PAGE'S CSS */

.description h3 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 14px;
}

.description h4 {
    color: #8a8a8a;
    font-weight: 300;
    padding-bottom: 12px;
    border-bottom: 1px solid #b9b9b9;
}

.description p {
    font-weight: 300;
    font-size: 1em;
    line-height: 1.4rem;
    margin-top: 10px;
}

p.foot-note {
    font-weight: 300;
    font-style: italic;
    font-size: 0.8rem;
    color: #ababab;
}

.Project-page {
    padding: 0px;
    margin-left: 6%;
    margin-right: 6%;
    box-sizing: border-box;
    margin-bottom: 40px;
}

.project-images {
    width: 100%;
    box-sizing: border-box;
    padding: 0 6%;
}

.project-images img {
    width: 100%;
    margin-bottom: 5%;
}

.below-images {
    width: 100%;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.two-column-images {
    width: 100%;
    box-sizing: border-box;
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
}

.half {
  width: 48%;
  margin-bottom: 4%;
}

.half img {
  width: 100%;
}

.half p {
    font-size: 1rem;
    color: #949494;
    font-weight: 300;
    border-bottom: 1px solid #949494;
    padding-bottom: 10px;
    padding-top: 10px;
}

.third {
    width: 30%;
}

.third img {
    width: 100%;
}


/* RESPONSIVE CSS  */

@media screen and (min-width: 881px) {
  .examples-overflow.active {
      display: flex;
      height: auto;
  }
  .dropdown-menu-wrap{
      display: none;
  }

}

@media screen and (max-width: 880px){

  .examples-overflow.active {
      display: block;
      height: auto;
  }

  .examples {
      display: block;
      padding: 0 6%;
      justify-content: space-between;
  }

  .project-box {
      width: 100%;
      position: relative;
      margin-bottom: 6%;
  }

  .mobile-nav {
      display: block;
      margin-top: 4px;
  }

  .mobile-nav i {
      font-size: 1.2rem;
      color: #383838;
  }

  .mobile-nav i:hover {
      color: #adadad;
      transition: ease 0.3s;
  }

  nav {
      display: none;
  }

  .acitve {
    display: block;
  }

  .two-column-images {
      width: 100%;
      box-sizing: border-box;
      padding: 0 6%;
      display: block;
  }

  .half {
      width: 100%;
      margin-bottom: 4%;
  }

  .half p {
    margin-bottom: 8%;
  }

  /* Contact - About Page CSS  */

  .contact {
      padding: 0px 6%;
      display: block;
      justify-content: space-between;
  }

  .details {
      width: 100%;
  }

  .contact-links {
      width: 100%;
  }

  .contact-links ul {
      display: block;
      margin-top: 40px;
      border: none;
      padding-left: 0px;
  }
}

@media screen and (max-width: 840px){

  .introduction {
    display: none;
  }
}
